# Stocks

In [2]:
# Import packages
# Financial Data 
import yfinance as yf

# Dates and Times
import datetime as dt

In [3]:
# Get data for Microsoft, Apple and Google.
tickers = ['MSFT', 'AAPL', 'GOOG']
df = yf.download(tickers, period="1d", interval="1m")
df

[*********************100%***********************]  3 of 3 completed

Price                       Adj Close                               Close  \
Ticker                           AAPL        GOOG        MSFT        AAPL
Datetime
2024-12-18 14:30:00+00:00  253.149994  198.490097  451.489990  253.149994
2024-12-18 14:31:00+00:00  252.389999  196.660004  450.231598  252.389999
2024-12-18 14:32:00+00:00  252.259995  196.055695  449.509003  252.259995
2024-12-18 14:33:00+00:00  252.220001  196.529999  449.114014  252.220001
2024-12-18 14:34:00+00:00  252.119995  196.039993  448.562897  252.119995
...                               ...         ...         ...         ...
2024-12-18 20:55:00+00:00  249.240005  190.830002  440.674988  249.240005
2024-12-18 20:56:00+00:00  248.800003  190.490005  440.127014  248.800003
2024-12-18 20:57:00+00:00  248.750000  190.360001  439.640015  248.750000
2024-12-18 20:58:00+00:00  248.610001  190.399994  439.279999  248.610001
2024-12-18 20:59:00+00:00  247.860001  189.899994  437.250000  247.860001

Price                                                    High              \
Ticker                           GOOG        MSFT        AAPL        GOOG
Datetime
2024-12-18 14:30:00+00:00  198.490097  451.489990  253.399994  198.689896
2024-12-18 14:31:00+00:00  196.660004  450.231598  253.184998  198.559998
2024-12-18 14:32:00+00:00  196.055695  449.509003  252.669907  196.912003
2024-12-18 14:33:00+00:00  196.529999  449.114014  252.470001  196.630005
2024-12-18 14:34:00+00:00  196.039993  448.562897  252.332001  196.490005
...                               ...         ...         ...         ...
2024-12-18 20:55:00+00:00  190.830002  440.674988  249.699997  191.190002
2024-12-18 20:56:00+00:00  190.490005  440.127014  249.279999  190.869995
2024-12-18 20:57:00+00:00  190.360001  439.640015  248.929993  190.509995
2024-12-18 20:58:00+00:00  190.399994  439.279999  248.850006  190.539993
2024-12-18 20:59:00+00:00  189.899994  437.250000  248.649994  190.460007

Price                                         Low                          \
Ticker                           MSFT        AAPL        GOOG        MSFT
Datetime
2024-12-18 14:30:00+00:00  452.309998  252.169998  196.764999  449.769989
2024-12-18 14:31:00+00:00  451.480011  252.240005  196.630005  449.820007
2024-12-18 14:32:00+00:00  450.329987  252.139999  196.000000  448.700012
2024-12-18 14:33:00+00:00  449.920013  252.149994  196.050003  448.899994
2024-12-18 14:34:00+00:00  449.160004  252.050003  195.630005  448.160004
...                               ...         ...         ...         ...
2024-12-18 20:55:00+00:00  441.980011  249.134995  190.740005  440.619995
2024-12-18 20:56:00+00:00  440.950012  248.800003  190.460007  440.019989
2024-12-18 20:57:00+00:00  440.250000  248.729996  190.259995  439.640015
2024-12-18 20:58:00+00:00  439.750000  248.539993  190.350006  439.190002
2024-12-18 20:59:00+00:00  439.299988  247.750000  189.850006  437.019989

Price                            Open                           Volume  \
Ticker                           AAPL        GOOG        MSFT     AAPL
Datetime
2024-12-18 14:30:00+00:00  252.220001  196.830002  451.399994  1472998
2024-12-18 14:31:00+00:00  253.130005  198.529999  451.380005   225397
2024-12-18 14:32:00+00:00  252.406006  196.720001  450.299988   146234
2024-12-18 14:33:00+00:00  252.279999  196.050003  449.489990   141407
2024-12-18 14:34:00+00:00  252.220001  196.490005  449.130005   163997
...                               ...         ...         ...      ...
2024-12-18 20:55:00+00:00  249.520004  191.149994  441.964996   449759
2024-12-18 20:56:00+00:00  249.229996  190.789993  440.739990   285469
2024-12-18 20:57:00+00:00  248.815002  190.490005  440.119995   299910
2024-12-18 20:58:00+00:00  248.759995  190.360001  439.589996   404830
2024-12-18 20:59:00+00:00  248.630005  190.414993  439.279999  1351788

Price
Ticker                       GOOG     MSFT
Datetime
2024-12-18 14:30:00+00:00  706660  1035056
2024-12-18 14:31:00+00:00   89332   136541
2024-12-18 14:32:00+00:00  131048   187539
2024-12-18 14:33:00+00:00  103541    94610
2024-12-18 14:34:00+00:00   99900   100236
...                           ...      ...
2024-12-18 20:55:00+00:00  192868   287003
2024-12-18 20:56:00+00:00  116927   165312
2024-12-18 20:57:00+00:00  178891   225791
2024-12-18 20:58:00+00:00  237246   270203
2024-12-18 20:59:00+00:00  737371   804720

[388 rows x 18 columns]

In [4]:
# Just the closing prices.
df['Close']

Ticker                           AAPL        GOOG        MSFT
Datetime
2024-12-18 14:30:00+00:00  253.149994  198.490097  451.489990
2024-12-18 14:31:00+00:00  252.389999  196.660004  450.231598
2024-12-18 14:32:00+00:00  252.259995  196.055695  449.509003
2024-12-18 14:33:00+00:00  252.220001  196.529999  449.114014
2024-12-18 14:34:00+00:00  252.119995  196.039993  448.562897
...                               ...         ...         ...
2024-12-18 20:55:00+00:00  249.240005  190.830002  440.674988
2024-12-18 20:56:00+00:00  248.800003  190.490005  440.127014
2024-12-18 20:57:00+00:00  248.750000  190.360001  439.640015
2024-12-18 20:58:00+00:00  248.610001  190.399994  439.279999
2024-12-18 20:59:00+00:00  247.860001  189.899994  437.250000

[388 rows x 3 columns]

In [5]:
# Get the current date and time.
filename = dt.datetime.now()
# Create a string format from the current date and time.
filename = filename.strftime("%Y%m%d_%H%M%S") 
# Prepend data folders, append file extension.
filename = 'data/' + filename + ".csv"

#Show the filename.
filename

'data/20241218_215936.csv'

In [14]:
# Save the data to a CSV file.
df['Close'].to_csv(filename)

## End